@import 'variables';

div.input-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  label {
    color: $primary;
    font-size: small;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  input,select {
    height: 3em;
    border-radius: 1.5em;
    border-style: solid;
    padding: 0 1em;
  }
}
