@import "reset";
@import "content";
@import "header";
@import "footer";
@import "input";
@import "button";
@import "home/index";
@import "login/index";
@import "signup/index";
@import "explore/index";
@import "dashboard/index";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
