<div class="home-info">
  <h1 class="info-title">
    You're just 3 steps away from your next getaway
  </h1>
  <h2 class="info-section">
    1. Browse
  </h2>
  <p class="info-paragraph">
    Start by exploring Stays or Experiences.
    Apply filters like entire homes, self check-in, or pets allowed to narrow your options.
    Youcan also save favourites to a wishlist.
  </p>
  <h2 class="info-section">
    2. Book
  </h2>
  <p class="info-paragraph">
    Once you've found what you're looking for,
    learn about your host, read past guest reviews,
    and get the details on cancellation options --
    then book in just a few clicks
  </p>
  <h2 class="info-section">
    3. Go
  </h2>
  <p class="info-paragraph">
    You're all set!
    Connect with your host through the app for local tips,
    questions or advice.
    You can also contact Airbnb anytime for additional support.
  </p>
</div>