<div class="promotion">
  <span class="promotion-title">Try hosting</span>
  <span class="promotion-description">
    Earn extra income and unlock new
    <br />
    opportunities by sharing your space.
  </span>
  <button class="primary">
    Learn more
  </button>
</div>