<form class="search-form">
  {{#> input name="city" label="WHERE"}}
  <select name="city">
    {{#each cities}}
    <option value={{this}}>{{this}}</option>
    {{/each}}
  </select>
  {{/input}}
  {{#> input name="date-start" label="CHECK-IN"}}
  <input type="date" name="date-start" />
  {{/input}}
  {{#> input name="date-end" label="CHECKOUT"}}
  <input type="date" name="date-end" />
  {{/input}}
  {{#> input name="guest-count" label="GUESTS"}}
  <select name="guest-count">
    <option value="1">1 guest</option>
    <option value="2">2 guests</option>
    <option value="3">3 guests</option>
    <option value="4">4 guests</option>
  </select>
  {{/input}}
  <input type="submit" class="primary" value="Search" />
</form>