<div>
  <img src="cid:123" style="width:5em;height:5em;display:inline" />
  <h1 style="display:inline;">Welcome to FairBNB {{firstname}}!</h1>
</div>
<div>
  <p>
    You are almost ready to make your next getaway with FairBNB. Check out your
    dashboard and explore unlimited options we can offer.
  </p>
  <a
    href={{redirect}}
    style="color:#ee0e51;text-decoration:none;font-weight:bold;text-transform:uppercase"
  >
    Get Started
  </a>
</div>