div.promotion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background: url('/images/promotion.jpg');
  color: white;
  border-radius: 2rem;
  padding: 3rem;
  margin-top: 2rem;

  .promotion-title {
    font-size: xx-large;
    font-weight: bold;
  }

  .promotion-description {
    line-height: 1.4em;
  }
}